# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intern_erez\KeyboardHandsPython\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
